.first {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.button {
    margin-top: 5%;
}

.name {
    margin-left: 30%;
}

.register {
    margin-top: 7%;
    margin-left: 68%;
}